In [3]:
import Data_Profiling_Jobs as dp
%load_ext autoreload
%autoreload 2
import pandas as pd

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
path = "" # Complete data path if data is in csv. Other wise skip
data = dp.data_import(path)

In [4]:
data = pd.read_csv('data_bank.csv')

In [6]:
data.head()

,Unnamed: 0,job,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y,Person_ID
0,0,blue-collar,unknown,yes,no,cellular,aug,thu,210,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0,32081
1,1,technician,no,no,no,cellular,nov,fri,138,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0,30183
2,2,management,no,yes,no,cellular,jun,thu,339,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1,3331
3,3,services,no,no,no,cellular,apr,fri,185,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0,37574
4,4,retired,no,yes,no,cellular,aug,fri,137,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1,8654

In [7]:
data['target']= [1 if x==1 else 0 for x in data['y']]

### Import data in "data" named dataframe

In [8]:
data_1 = dp.data_prep(data)

In [9]:
var_list = dp.var_sel(data_1)

0 Unnamed: 0
1 job
2 default
3 housing
4 loan
5 contact
6 month
7 day_of_week
8 duration
9 campaign
10 pdays
11 previous
12 poutcome
13 emp_var_rate
14 cons_price_idx
15 cons_conf_idx
16 euribor3m
17 nr_employed
18 y
19 Person_ID
20 target
21 accept/decline
22 accept
23 decline
Input the variables index for profiling, separated by commas: 1,3,5,12

In [13]:
dp.data_profile(data_1,var_list)

No handles with labels found to put in legend.
No handles with labels found to put in legend.
No handles with labels found to put in legend.
No handles with labels found to put in legend.

Data Profiling has been completed! You can access the output workbook at C:\Users\1412v\OneDrive\Documents\GitHub\Data_Profiling/data_profile.xlsx