In [34]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 


import plotly

import plotly.graph_objects as go

In [35]:
data = pd.read_csv('data_bank.csv',)

In [36]:

data.head()

,Unnamed: 0,job,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y,Person_ID
0,0,blue-collar,unknown,yes,no,cellular,aug,thu,210,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0,32081
1,1,technician,no,no,no,cellular,nov,fri,138,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0,30183
2,2,management,no,yes,no,cellular,jun,thu,339,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1,3331
3,3,services,no,no,no,cellular,apr,fri,185,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0,37574
4,4,retired,no,yes,no,cellular,aug,fri,137,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1,8654

### Select Variables and Target metric. Here my target is 'y' variable

In [37]:
data_profiling = data[['job','housing','loan','contact','y']].copy()

### Renaming target variable to name 'target'

In [38]:
data_profiling = data_profiling.rename(columns={'y':'target'})
data_profiling['cnt'] = 1
data_profiling.head()

           job housing loan   contact  target  cnt
0  blue-collar     yes   no  cellular       0    1
1   technician      no   no  cellular       0    1
2   management     yes   no  cellular       1    1
3     services      no   no  cellular       0    1
4      retired     yes   no  cellular       1    1

In [39]:
df = pd.DataFrame()
for var in data_profiling.columns[:-2]:
    temp_df = pd.pivot_table(data = data_profiling, values='cnt',index = var,columns='target',aggfunc='count' ).reset_index()
    temp_df['Var'] = var
    temp_df = temp_df.rename(columns={var:'lvl',0:'target_0',1:'target_1'})
    temp_df['Obs'] = temp_df['target_0'] + temp_df['target_1']
    temp_df['target_1_%'] = temp_df['target_1']/temp_df['Obs'] *100
    temp_df['target_0_%'] = temp_df['target_0']/temp_df['Obs'] *100
    df = df.append(temp_df)
df = df[['Var','lvl','Obs','target_0','target_1','target_0_%','target_1_%']]

In [40]:
df

target,Var,lvl,Obs,target_0,target_1,target_0_%,target_1_%
0,job,admin.,10422,9070,1352,87.027442,12.972558
1,job,blue-collar,9254,8616,638,93.105684,6.894316
2,job,entrepreneur,1456,1332,124,91.483516,8.516484
3,job,housemaid,1060,954,106,90.000000,10.000000
4,job,management,2924,2596,328,88.782490,11.217510
5,job,retired,1720,1286,434,74.767442,25.232558
6,job,self-employed,1421,1272,149,89.514426,10.485574
7,job,services,3969,3646,323,91.861930,8.138070
8,job,student,875,600,275,68.571429,31.428571
9,job,technician,6743,6013,730,89.173958,10.826042
10,job,unemployed,1014,870,144,85.798817,14.201183
11,job,unknown,330,293,37,88.787879,11.212121
0,housing,no,18622,16596,2026,89.120395,10.879605
1,housing,unknown,990,883,107,89.191919,10.808081
2,housing,yes,21576,19069,2507,88.380608,11.619392
0,loan,no,33950,30100,3850,88.659794,11.340206
1,loan,unknown,990,883,107,89.191919,10.808081
2,loan,yes,6248,5565,683,89.068502,10.931498
0,contact,cellular,26144,22291,3853,85.262393,14.737607
1,contact,telephone,15044,14257,787,94.768679,5.231321

In [126]:
var_unique = df['Var'].unique()
traces = []

from plotly.subplots import make_subplots

# Create figure with secondary y-axis
fig = make_subplots(specs=[[{"secondary_y": True}]])


for var in var_unique:
    df_temp = df[df['Var']==var]
    fig = make_subplots(specs=[[{"secondary_y": True}]])
    
    trace = fig.add_trace(go.Bar(name='Obs Count', x=df_temp['lvl'], y=df_temp['Obs']),
        secondary_y=False,)

    trace1 = fig.add_trace(
        go.Scatter(name='target %', x=df_temp['lvl'], y=df_temp['target_1_%']),
        secondary_y=True,
    )

    # Add figure title
    fig.update_layout(
        title_text="Data Profiling" + " : " + var
    )

    # Set x-axis title
    fig.update_xaxes(title_text="Category")

    # Set y-axes titles
    fig.update_yaxes(title_text="Count of Obs", secondary_y=False)
    fig.update_yaxes(title_text="% Target", secondary_y=True)
    fig.update_layout(template='none',xaxis=dict(showgrid=False),yaxis=dict(showgrid=False))
    fig.show()

In [119]:
# var_unique = df['Var'].unique()
# traces = []
# list_updatemenus = []

# from plotly.subplots import make_subplots

# # Create figure with secondary y-axis
# fig = make_subplots(specs=[[{"secondary_y": True}]])


# for var in var_unique:
#     df_temp = df[df['Var']==var]
#     fig = make_subplots(specs=[[{"secondary_y": True}]])
    
#     trace = fig.add_trace(go.Bar(name='Obs Count', x=df_temp['lvl'], y=df_temp['Obs']),
#         secondary_y=False,)

#     trace1 = fig.add_trace(
#         go.Scatter(name='target %', x=df_temp['lvl'], y=df_temp['target_1_%']),
#         secondary_y=True,
#     )
#     traces.append(trace1)
    
#     # Add figure title
#     fig.update_layout(
#         title_text="Data Profiling" + " : " + var
#     )
#     fig.show()
# list_updatemenus = []
# # for n, year in enumerate(var_unique):
# #     visible = [False] * len(var_unique)
# #     visible[n] = True
# #     temp_dict = dict(label = str(var_unique[n]),
# #                  method = 'update',
# #                  args = [{'visible': visible},
# #                          {'title': 'variable: %s' % year}])
# #     list_updatemenus.append(temp_dict)
#     # Set x-axis title

In [117]:
# list_updatemenus